<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.mythrowaway.app">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:maxSdkVersion="32" />

    <queries>
        <package android:name="com.amazon.dee.app" />
    </queries>

    <application
        android:name=".application.MyThrowTrash"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.info.presentation.view.InformationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".module.inquiry.presentation.view.InquiryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".module.account_link.presentation.view.AccountLinkActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="@string/app_link_host" />
                <data android:pathPrefix="/accountlink" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".module.alarm.presentation.view.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".module.alarm.presentation.view.AlarmActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".module.trash.presentation.view.share.ShareActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".module.trash.presentation.view.edit.EditActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".module.trash.presentation.view.calendar.CalendarActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>